@media screen and (max-width: 900px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    padding-inline: 2vw;
  }
  .contents {
    font-size: 3.5vw;
    padding: 3vw 2vw;
    margin-top: 30px;
  }
  .welcome {
    font-size: 16vw;
  }
  nav {
    height: 10vw;
    padding-top: 2vw;
  }
  nav a {
    font-size: 4vw;
  }
  .hd1,
  .back1,
  .info {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    grid-template-columns: 1fr;
    gap: 2vw;
    padding-inline: 1vw;
  }
  .contents {
    font-size: 4vw;
    padding: 4vw 1vw;
    margin-top: 20px;
  }
  .welcome {
    font-size: 11vw;
  }
  nav {
    height: 13vw;
    padding-top: 2vw;
  }
  nav a {
    font-size: 6vw;
  }
  .hd1,
  .back1,
  .info {
    font-size: 4vw;
  }
  .faucet {
    width: 90vw;
    height: 40vw;
    max-width: 100%;
    max-height: 60vw;
  }
  .cv,
  .ho,
  .kc {
    height: 25vw;
    max-width: 100%;
  }
  .audio {
    height: 4vw;
  }
  h2,
  p,
  li {
    font-size: 5vw;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

body.hide {
  opacity: 0;
}

#iframes {
  opacity: 0;
  width: 100%;
  height: 94vh;
  margin-top: 75px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  pointer-events: none;
}

#iframes-inner {
  display: flex;
  /* width: max-content; */
  height: 100%;
}

.iframe-body1 {
  scroll-snap-align: start;
  flex: 0 0 52vw;
  height: 100%;
}

.iframe-body2 {
  scroll-snap-align: start;
  flex: 0 0 90vw;
  height: 100%;
}

.iframe-body3 {
  scroll-snap-align: start;
  flex: 0 0 60vw;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: auto;
  filter: grayscale(100%);
}
