body {
  margin: 0;
  overflow-x: hidden;
}

body.hide {
  opacity: 0;
}

#iframes {
  opacity: 0;
  width: 100%;
  height: 94vh;
  margin-top: 75px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  pointer-events: none;
}

#iframes-inner {
  display: flex;
  height: 100%;
}

.iframe-body1,
.iframe-body2,
.iframe-body3 {
  scroll-snap-align: start;
  height: 100%;
}

.iframe-body1 {
  flex: 0 0 52vw;
}
.iframe-body2 {
  flex: 0 0 90vw;
}
.iframe-body3 {
  flex: 0 0 60vw;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: auto;
  filter: grayscale(100%);
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .inner-iframe {
    flex-direction: column;
  }

  .inner-iframe-left {
    display: none;
  }

  .inner-iframe-right {
    width: 100vw;
    height: auto;
  }

  .iframe {
    height: 100vh;
    scroll-snap-align: start;
  }
}
