* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  cursor: help !important;
}

.center-page {
  background-color: #1708ff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 600;
  cursor: help !important;
}

.fade-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-wrapper > * {
  opacity: 0;
  animation: fadeInUp 1.2s ease-out forwards;
}

.fade-delay-1 {
  animation-delay: 0.4s;
}

.fade-delay-2 {
  animation-delay: 0.8s;
}

.fade-delay-3 {
  animation-delay: 1.4s;
}

.fade-delay-1 {
  font-size: 30px;
  font-weight: 600;
}

.fade-delay-2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1.2rem;
}

.fd-2 {
  font-size: 17px;
  font-weight: 300;
  margin-top: -0.1rem;
}

.fade-delay-3 {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 0.8rem;
}
