summary,
.center-page {
  cursor: help !important;
}

::-webkit-scrollbar {
  display: none;
}

/* ================== */
/* Reset & Common */
/* ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  font-size: 16px;
  cursor: help !important;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
}

h2 {
  font-weight: 500;
  margin-bottom: 2vw;
  width: auto;
  font-size: 1.2vw;
  text-align: left;
}

p {
  line-height: 1.7;
  font-weight: 400;
  font-size: 1vw;
  white-space: normal;
  word-break: break-word;
  text-align: left;
}

.bb {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 30px;
}

.bb2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.example-list {
  margin-bottom: 10px;
}

.example-list li {
  list-style-type: none; /* 기존 마커 제거 */
  position: relative;
  font-size: 1vw;
  font-weight: 350;
  line-height: 1.4;
  margin-bottom: 5px;
  text-align: left;
}

/* ============================= */
/* 기본 (Sections & Containers) */
/* ============================= */
body {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
}

.mal {
  font-size: 1.2vw;
}
.intro {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* gap: 5vw; */
  padding: 4vw;
  justify-content: center;
  padding-inline: 15px;
}

.contents {
  position: relative;
  padding: 1vw;
  border-radius: 10px;
  font-size: 1.25vw;
  line-height: 1.4;
  display: block;
  width: fit-content;
  width: 100%;
  word-wrap: break-word;
  margin-top: 50px;
  vertical-align: top;
  padding-right: 1vw;
}

.clickable-title:hover {
  color: blue;
}

/* index */
.welcome_con {
  overflow: hidden;
  position: relative;
}

.welcome {
  position: absolute;
  width: auto;
  top: 51%;
  left: 52%;
  transform: translate(-50%, -48%);
  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  font-size: 25vw;
  letter-spacing: 1vw;
  line-height: 36vw;
  font-weight: 900;
  white-space: nowrap;
  text-align: center;
}

.welcome:hover {
  color: blue;
  text-align: center;
  font-size: 35vw;
}

/* Nav */

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.index:hover,
.rist:hover,
.obs:hover,
.sample:hover {
  animation: pulse 0.8s infinite ease-in-out;
  display: inline-block;
}

.back:hover,
.s-q:hover {
  display: inline-block;
  font-size: 1.6vw;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveLeftRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
}

.back1,
.info {
  display: inline-block;
}

.back1:hover,
.info:hover {
  animation: moveLeftRight 0.4s ease-in-out infinite;
  color: blue;
}

nav {
  position: fixed;
  display: flex;
  grid-template-columns: auto 1fr;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  padding-top: 8px;
  z-index: 10;
  padding-inline: 30px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.nav-right {
  margin-left: auto;
}

.hd1 {
  font-size: 1.3vw;
}

.back1,
.info {
  font-size: 1.4vw;
}

nav a {
  font-weight: 400;
  font-size: 1.6vw;
  text-decoration: none;
  color: black;
}

.index:hover,
.rist:hover,
.obs:hover,
.sample:hover,
.back1:hover,
.back:hover,
.info:hover,
.s-q:hover,
.hd1:hover,
.mal:hover {
  color: blue;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
}

.wavy-text {
  font-size: 1.4vw;
  display: inline-block;
  animation: wave 1.2s infinite ease-in-out;
}

.wavy-text:nth-child(1) {
  animation-delay: 0s;
}
.wavy-text:nth-child(2) {
  animation-delay: 0.15s;
}
.wavy-text:nth-child(3) {
  animation-delay: 0.25s;
}
.wavy-text:nth-child(4) {
  animation-delay: 0.45s;
}
.wavy-text:nth-child(5) {
  animation-delay: 0.55s;
}

@keyframes marquee {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(400%);
  }
}

/* =========== */
/* Responsive */
/* =========== */
@media screen and (max-width: 900px) {
  /* homestyle */
  .welcome {
    word-break: break-all;
  }

  /* navstyle */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    padding-top: 4vw;
    z-index: 99;
  }

  nav a {
    font-size: 4vw;
  }

  section a {
    font-size: 17vw;
  }

  .list,
  .info {
    position: absolute;
    right: 4vw;
  }
}
/* horse */
.gradient-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
}
